.block {
    width: 100%;
    height: 40vh;
    background-color: #8C8C8C;
    color: #F2F2F2;
}
.block-image {
    width: 100%;
    height: 70%;
}
.block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.block-text {
    height: 30%;
    max-width: 100%;
}
.block-text-heading {
    position: absolute;
    font-size: 1rem;
    font-weight: bolder;
    padding: 1vh 1vw;
}
.block-lower-text {
    font-size: 0.8rem;
    margin-left: 1vw;
}